body {
    background-image: linear-gradient(to right, rgb(51, 51, 51), gold);
    
    
}

* {
}

h1 {
    align-items: center;
    color: white;
}

.title-div {
    align-items: center;
}

.text-div {
    padding: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 5%;
}

.img-div {
    align-items: center;
}
